:root {
    --primary-color: #009254;
    --secondary-color: #29BC55;
    --tertiary-color: #23B577;
    --color-text-white: #FFFFFF;
    --color-text-black: #000000;
    --color-back-side: #005B34;
}

$color-text: #000000;