.products-banner 
    img.banner-img(src="images/product/product-banner.png", alt="")    
    .container-fluid.w-80.w-sm-100
        .row 
            .col-5
                img.logo(src="images/logo-footer.svg", alt="")
                