.cloud-doctor.product-item
    .img-bg-left
        img(src="images/product/cloud-doctor.png", alt="")
    .top 
        .container-fluid.w-80.w-sm-90
            .row
                .col-xl-7
                .col-xl-5.col-12 
                    .global-title
                        | 1. Cloud Doctor
                    .global-sub-title 
                        | (Phòng khám gia đình Việt Úc)
    .bottom.bottom-bg-1
        .container-fluid.w-80.w-sm-90
            .row
                .col-xl-7
                .col-xl-5.col-12 
                    .text-products 
                        | CloudDoctor - Y bạ điện tử là phiên bản kỹ thuật số của hồ sơ giấy. Ứng dụng này thường được trong các bệnh viện, phòng khám hay các cơ sở y tế thay thế cho các hồ sơ bệnh án giấy. CloudDoctor là một giải pháp y tế thông minh trong hoạt động quản lý phòng khám với các tính năng như: Hỗ trợ công tác lưu trữ và tìm kiếm thông tin từ hồ sơ giấy qua hồ sơ điện tử, cho phép bác sĩ theo dõi dữ liệu bệnh án theo thời gian, xác định bệnh nhân để thăm khám và sàng lọc, cải thiện chất lượng chăm sóc sức khỏe.
                        br
                        | Phòng khám gia đình Việt Úc đã trở thành khách hàng đầu tiên sử dụng ứng dụng CloudDoctor - Sản phẩm được xây dựng trên sự kết tinh của nền y tế hiện đại và ứng dụng công nghệ số.

