.passport-vaccine.product-item
    .img-bg-left.passport-vaccine-img
        img(src="images/product/passport-vaccine.png", alt="")
    .top 
        .container-fluid.w-80.w-sm-90
            .row
                .col-xl-7 
                .col-xl-5.col-12 
                    .global-title
                        | 3. Passport Vaccine
                    .global-sub-title 
                        | (mdCAREclik)
    .bottom.bottom-bg-3
        .container-fluid.w-80.w-sm-90
            .row
                .col-xl-7
                .col-xl-5.col-12 
                    .text-products 
                        | Passport Vaccine là nền tảng giúp cơ quan chứng năng, người dân dễ dàng theo dõi lịch sử tiêm chủng của bản thân hoặc các thành viên trong gia đình qua các lần tiêm; sau khi tiêm được cấp chứng nhận tiêm và QR-Code xác nhận. Cùng với đó, nhân viên y tế có thể cập nhật kết quả tiêm chủng cho người dân thuộc diện tiêm chủng lên hệ thống phần mềm. Cơ quan quản lý nắm bắt thông tin, số liệu để phục vụ việc triển khai chương trình tiêm vắc xin và cung cấp công cụ giám sát thông tin những người đã tiêm vắc xin.
                        br
                        | Omni Health tự hào trở thành doanh nghiệp đầu tiên tại Việt Nam cho ra đời hệ thống Passport Vaccine với đối tác chính là mdCAREclik - đưa sản phẩm đặt chân tới thị trường y tế Mỹ.


