.telehealth-platform.product-item
    img.bg(src="images/product/telehealth-bot.png", alt="")
    .top
        img.bg-top(src="images/product/telehealth-top.png", alt="")
        .container-fluid.w-80.w-sm-90
            .row
                .col-xl-6.col-12
                    .global-title
                        | 2. Telehealth Platform
                    .global-sub-title 
                        | (mdCAREclik)
                .col-xl-6
                    
    .bottom.bottom-bg-2
        .container-fluid.w-80.w-sm-90
            .row
                .col-xl-6.col-12
                    .text-products 
                        | Telehealth Platform là sổ y bạ online giúp tự động hóa các hoạt động chẩn đoán lâm sàng của các cơ sở chăm sóc sức khỏe. Phần mềm này giúp lưu trữ phác đồ điều trị của bệnh nhân dưới dạng kỹ thuật số một cách tập trung, cùng với tính năng video call nổi trội, qua đó cho phép các bác sĩ truy vấn và truy xuất thông tin nhanh chóng và chính xác ngay cả khi bạn gặp khó khăn trong việc di chuyển.
                        br
                        | Với nền tảng Telehealth Platform toàn diện, mdCAREclik đã tạo ra một quy trình làm việc hiệu quả giúp quản lý kết quả sức khỏe và cải thiện các chỉ số chăm sóc chất lượng đứng đầu hiện nay.
                .col-xl-6
                    

