.mission {
    border-bottom: 1px solid #009254;
    .left {
        @media screen and(max-width: 991px) {
            margin: 70px 0;
            margin-left: 50px;
        }
        .gim {
            width: 20px;
            height: 380px;
            background-color: #00A659 !important;
            @media screen and (max-width: 769px) {
                width: 6px;
            }
        }
        .content {
            width: 90%;
            .continus {
                font-size: 16px;
                line-height: 16px;
                @media screen and(max-width: 1280px) {
                    font-size: 15px;
                }
                @media screen and (max-width: 426px) {
                    font-size: 12px;
                }
            }
            p {
                margin: 0;
                @media screen and(max-width: 1280px) {
                    font-size: 15px;
                }
                @media screen and (max-width: 426px) {
                    font-size: 12px;
                }
            }
            .head {
                margin-bottom: 60px;
            }
        }
    }
    .right {
        width: 60%;
        height: 100%;
        img {
            position: absolute;
            right: 100px;
            top: 50%;
            transform: translateY(-50%);
            @media screen and (max-width: 1800px) {
                width: 80%;
            }
            @media screen and (max-width: 1440px) {
                width: 85%;
            }
            @media screen and (max-width: 1024px) {
                right: 50px;
            }
            @media screen and (max-width: 769px) {
                width: 75%;
                right: 50px;
            }
            @media screen and (max-width: 426px) {
                width: 80%;
            }
        }
    }
}