.omni-health {
    .left {
        @media screen and(max-width: 991px) {
            padding: 70px 0;
            margin-left: 50px;
        }
        .gim {
            width: 20px;
            height: 480px;
            background-color: #00A659 !important;
            @media screen and (max-width: 769px) {
                width: 6px;
            }
            @media screen and(max-width: 1440px) {
                height: 580px;
            }
            @media screen and(max-width: 1440px) {
                height: 580px;
            }
            @media screen and(max-width: 1280px) {
                height: 500px;
            }
        }
        .content {
            width: 80%;
            .start {
                font-size: 50px;
                color: var(--primary-color);
                @media screen and(max-width: 1280px) {
                    font-size: 30px;
                }
                @media screen and (max-width: 426px) {
                    font-size: 25px;
                }
            }
            .continus {
                font-size: 16px;
                line-height: 16px;
                @media screen and(max-width: 1280px) {
                    font-size: 15px;
                }
                @media screen and (max-width: 426px) {
                    font-size: 12px;
                }
            }
            .bottom {
                margin-top: 60px;
                font-size: 16px;
                @media screen and(max-width: 1280px) {
                    font-size: 15px;
                    margin-top: 40px;
                }
                @media screen and (max-width: 426px) {
                    font-size: 12px;
                }
            }
        }
    }
    .right {
        width: 60%;
        height: 100%;
        img {
            position: absolute;
            right: 100px;
            top: 50%;
            transform: translateY(-50%);
            @media screen and (max-width: 1800px) {
                width: 80%;
            }
            @media screen and (max-width: 1440px) {
                width: 85%;
            }
            @media screen and (max-width: 1024px) {
                right: 50px;
            }
            @media screen and (max-width: 769px) {
                width: 75%;
                right: 50px;
            }
            @media screen and (max-width: 426px) {
                width: 80%;
            }
        }
    }
}