.vision {
    border-top: 1px solid #009254;
    border-bottom: 1px solid #009254;
    .left {
        width: 60%;
        height: 100%;
        img {
            position: absolute;
            left: 100px;
            top: 50%;
            transform: translateY(-50%);
            @media screen and (max-width: 1440px) {
                width: 85%;
            }
            @media screen and (max-width: 769px) {
                width: 75%;
            }
        }
    }
    .right {
        @media screen and(max-width: 769px) {
            padding: 70px 0;
        }
        .gim {
            width: 20px;
            height: 200px;
            background-color: #00A659 !important;
        }
        .content {
            width: 90%;
            .start {
                font-size: 50px;
                color: var(--primary-color);
            }
            .continus {
                font-size: 16px;
                line-height: 16px;
                @media screen and(max-width: 1280px) {
                    font-size: 15px !important;
                }
            }
            p {
                margin: 0;
                @media screen and(max-width: 1280px) {
                    font-size: 15px !important;
                }
            }
        }
    }
}