.products-banner{
    height: 100%;
    background-color: #008049;
    .banner-img{
        height: 100%;
        position: absolute;
        right: 0;
    }
    .logo{
        margin-top: 15%;
    }
}