.omni-health.d-flex.align-items-center.justify-content-center
	.w-10.h-100
	.w-80.h-100.d-flex.align-items-center.justify-content-between
		.left.w-40
			.global-title Sứ mệnh
			.d-flex.align-items-start.justify-content-between
				.gim 
				.content 
					p.head Omni Health mong muốn có thể tạo ra một cuộc cách mạng chuyển đổi số trong ngành Y Tế bằng việc tối ưu hoá quy trình khám chữa bệnh, chữa bệnh theo hướng nhanh - gọn - chính xác, giảm thời gian và khối lượng công việc liên quan đến thủ tục hành chính, giúp nâng cao công suất và hiệu suất của bệnh viện, giúp khách hàng quản lý chặt chẽ tài chính.
					p Giá trị cao nhất mà chúng tôi hướng đến là nâng cao sức khoẻ cộng đồng; từ hạnh phúc của mỗi cá nhân đến sự cường thịnh của một dân tộc và của toàn xã hội.

		.right.pr
			img(src="images/mision-right.png", alt="")
	.w-10.back-side.h-100