.omni-health.d-flex.align-items-center.justify-content-center
	.w-10.h-100
	.w-80.h-100.d-flex.align-items-center.justify-content-between
		.left.w-40.d-flex.align-items-start.justify-content-between
			.gim 
			.content 
				span.start Omni Health 
				span.continus được biết đến như một doanh nghiệp chuyên tư vấn và xây dựng các phần mềm liên quan và dẫn đầu trong lĩnh vực y tế tại Việt Nam. Các sản phẩm chính của Omni Health bao gồm: CloudDoctor, CI HIS, Telehealth Platform và Medical API. Với sự thấu hiểu đặc thù về ngành, chúng tôi mong muốn có thể đem tới cho khách hàng những sản phẩm chất lượng nhất, dễ dàng sử dụng và vận hành trong quá trình làm việc. 
				p.bottom Đặt chất lượng lên hàng đầu, đội ngũ của Omni Health mong muốn có thể tư vấn, đồng hành cùng các khách hàng để đưa ra những giải pháp tối ưu hoá và hiệu quả, cùng xây dựng các sản phẩm để phục vụ trong quá trình vận hành trong lĩnh vực y tế.
		.right.pr
			img(src="images/omni-right.png", alt="")
	.w-10.back-side.h-100