.section
	.container-fluid.w-80 
		.global-title Why choose us?
		.row 
			.col-lg-6.col-12
				.item
					.number 1
					.text 
						.title Tổ hợp sản phẩm
						.content Omni Health là công ty đầu tiên tại Việt Nam sản xuất tích hợp nhiều phần mềm y tế công nghệ. Dịch vụ của chúng tôi đảm bảo cho khách hàng không chỉ về tiêu chuẩn chất lượng, tiết kiệm chi phí mà còn khiến cho quá trình sử dụng và theo dõi phần mềm trở nên dễ dàng, nhanh gọn hơn.
			.col-lg-6.col-12
				.item
					.number 2
					.text 
						.title Đổi mới
						.content Với đội ngũ tài năng và giàu kinh nghiệm, chúng tôi - Omni Health luôn đi đầu trong việc ứng dụng khoa học công nghệ tân tiến nhất, nhằm mang đến những bứt phá và sự thay đổi mạnh mẽ trong lĩnh vực y tế của Việt Nam và toàn thế giới.
			.col-lg-6.col-12
				.item
					.number 3
					.text 
						.title Tập trung vào khách hàng
						.content Lắng nghe và hợp tác ăn ý với khách hàng chính là những điều mà Omni Health luôn hướng đến. Với mong muốn cung cấp các phần mềm tối ưu nhất trong lĩnh vực y tế để phục vụ cho cộng đồng, chúng tôi đảm bảo về sự hài lòng của khách hàng khi sử dụng các sản phẩm và  trong quá trình làm việc với đội ngũ của chúng tôi.

			.col-lg-6.col-12
				.item
					.number 4
					.text 
						.title Tư duy hệ thống
						.content Đội ngũ của Omni Health hiểu rằng làm việc trong phạm vi phức tạp của hệ thống các phần mềm, chúng tôi luôn tập trung hết mình để giảm thiểu sự kém hiệu quả trong quá trình làm việc, cũng như đảm bảo sự phối hợp ăn ý giữa nhân viên - nhân viên, nhân viên - khách hàng.