.vision.container-fluid
	.row
		.col-lg-7.col-12.d-flex.align-items-center.justify-content-between.p-0.pr
			.w-20.he-100.back-side
			.left.w-80
				img(src="images/vision-left.png", alt="")
		.col-lg-5.col-12.d-flex.align-items-center.justify-content-between
			.right.w-80
				.global-title Tầm nhìn
				.d-flex.align-items-center.justify-content-between
					.gim 
					.content 
						p Omni Health luôn đặt mục tiêu sẽ là một trong 5 công ty hàng đầu trong lĩnh vực tư vấn và xây dựng các phần mềm liên quan đến Y Tế. Cố gắng phát triển không ngừng để trở thành đối tác tin cậy, đa dạng hoá các giải pháp và hoạt động phần mềm để từ đó phục vụ tốt hơn nhu cầu của các doanh nghiệp và sức khỏe cộng đồng.
			.w-20.he-100.d-none.d-lg-block


