.home 
	.banner
		.container-fluid.w-80
			.row 
				.col-5.d-flex.align-items-center.justify-content-center.pr
					.text 
						p Transformation
						p of healthcare system 
					.img-back 
						img(src="images/back-banner.png", alt="")
				.col-7.bg-dif.d-flex.align-items-center.justify-content-center
					img(src="images/home-right.png", alt="")