.home
	.banner
		.container-fluid.w-80
			.row 
				.col-md-5.col-12.d-flex.align-items-center.justify-content-center.pr.order-md-1.order-2
					.text 
						p Transformation
						p of healthcare <br/> system 
					.img-back 
						img(src="images/back-banner.png", alt="")
				.col-md-7.col-12.bg-dif.d-flex.align-items-center.justify-content-center.order-md-2.order-1.right
					img(src="images/home-right.png", alt="")