.home
	.banner
		.container-fluid.w-80
			.row.height
				.col-lg-5.col-12.d-flex.align-items-center.justify-content-center.pr.order-lg-1.order-2
					.text 
						p Transformation
						p of healthcare <br/> system 
					.img-back 
						img(src="images/back-banner.png", alt="")
				.col-lg-7.col-12.bg-dif.d-flex.align-items-center.justify-content-center.order-lg-2.order-1.right
					img(src="images/home-right.png", alt="")