.contact-banner
    img.bg(src="images/product/contact-bg.png", alt="")
    .container-fluid.w-sm-90.w-80
        .row
            .col-12.col-xl-7
                .contact-title
                    | Contact us
                .logo 
                    img(src="images/logo.png", alt="")
                //- img.bg-mobile(src="images/product/contact-bg-mobile.png", alt="")
            .col-12.col-xl-5.p-0
                .top.layout
                    .item
                        img(src="images/product/phone-call.svg", alt="")
                        a(href="tel:0967288920") 0967288920  
                    .item
                        img(src="images/product/mail.svg", alt="")
                        a(href="mailto:marketing@consultindochina.com")  marketing@consultindochina.com
                    .item
                        img(src="images/product/placeholder.svg", alt="")
                        a(href="https://www.google.com/maps/@21.0707939,105.7938073,15z") N03-T7, Ngoai Giao Doan, Xuan Tao, Tu Liem, Ha Noi
                .bottom.layout
                    iframe(style='height: 100%; width: 100%; border: 0; border-radius: 20px;' frameborder='0' src='https://www.google.com/maps/embed/v1/place?q=N03-T7,+Ngoai+Giao+Doan,+Xuan+Tao,+Tu+Liem,+Ha+Noi&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8')
 
                    