.w-90 {
  width: 90% !important; }

.w-80 {
  width: 80% !important; }

.w-10 {
  width: 10% !important; }

.h-100 {
  min-height: 100vh !important; }

.pr {
  position: relative; }

body {
  font-family: 'Exo', sans-serif; }

#footer {
  font-size: 50px; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: #ffffff none repeat scroll 0 0;
  color: #000000;
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: 'Roboto'; }

p {
  color: #000000;
  line-height: 28px;
  margin-bottom: 25px; }

a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover {
  color: #FF324D;
  text-decoration: none; }

a:focus {
  outline: none; }

img {
  max-width: 100%; }

button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all .3s ease-in-out; }

li {
  list-style: none; }

ul,
li,
ol {
  margin: 0;
  padding: 0; }

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0; }

label {
  color: #6c757d; }

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none; }

iframe {
  border: 0;
  display: block; }

video {
  width: 100%; }

html,
body {
  height: 100%; }

.back-side {
  background-color: var(--color-back-side); }

.global-title {
  font-size: 50px;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 20px; }

:root {
  --primary-color: #009254;
  --color-text-white: #FFFFFF;
  --color-text-black: #000000;
  --color-back-side: #005B34; }

.header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  .header .header-content {
    padding: 15px 0; }
    .header .header-content .logo {
      cursor: pointer; }
  .header .header_menu ul li {
    margin-left: 30px; }
    .header .header_menu ul li a {
      padding: 10px 20px;
      border: 1px solid #ffffff; }
      .header .header_menu ul li a:hover {
        border: 1px solid var(--primary-color);
        color: var(--primary-color); }
  .header .header__language #outerContainer {
    display: block; }
  .header .header__language #container {
    position: relative;
    width: 130px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    margin: 0;
    border-radius: 36px;
    touch-action: none;
    cursor: pointer; }
    .header .header__language #container.select-left .left span {
      opacity: 1;
      color: var(--color-text-white); }
    .header .header__language #container.select-right .right span {
      opacity: 1;
      color: var(--color-text-black); }
    .header .header__language #container #item {
      position: relative;
      width: 56px;
      height: 22px;
      border-radius: 36px;
      transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
      touch-action: none;
      user-select: none; }
      .header .header__language #container #item::after {
        position: absolute;
        top: 3px;
        left: 5px;
        width: 100%;
        border-radius: 15px;
        height: 100%;
        background-color: var(--primary-color);
        content: ""; }
    .header .header__language #container .item-right {
      transform: translateX(61px); }
    .header .header__language #container .item-left {
      transform: translateX(0); }
    .header .header__language #container .left {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      user-select: none; }
      .header .header__language #container .left span {
        font-family: sans-serif;
        font-size: 12px;
        pointer-events: none;
        user-select: none;
        color: var(--color-text-white);
        transition: all 0.2s ease;
        font-weight: 500;
        font-weight: bold; }
    .header .header__language #container .right {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
      pointer-events: none;
      user-select: none; }
      .header .header__language #container .right span {
        font-family: sans-serif;
        font-size: 12px;
        pointer-events: none;
        user-select: none;
        color: var(--color-text-black);
        transition: all 0.2s ease;
        font-weight: bold; }
  .header .header__language #container1 {
    position: relative;
    width: 130px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    margin: 0;
    border-radius: 36px;
    touch-action: none;
    cursor: pointer; }
    .header .header__language #container1.select-left .left span {
      opacity: 1;
      color: var(--primary-color); }
    .header .header__language #container1.select-right .right span {
      opacity: 1;
      color: var(--primary-color); }
    .header .header__language #container1 #item1 {
      position: relative;
      width: 56px;
      height: 22px;
      border-radius: 36px;
      transition: all 0.05s cubic-bezier(0.04, 0.46, 0.36, 0.99);
      touch-action: none;
      user-select: none; }
      .header .header__language #container1 #item1::after {
        position: absolute;
        top: 3px;
        left: 5px;
        width: 100%;
        border-radius: 15px;
        height: 100%;
        background-color: var(--primary-color);
        content: ""; }
    .header .header__language #container1 .item-right {
      transform: translateX(61px); }
    .header .header__language #container1 .item-left {
      transform: translateX(0); }
    .header .header__language #container1 .left {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      user-select: none; }
      .header .header__language #container1 .left span {
        font-family: sans-serif;
        font-size: 12px;
        pointer-events: none;
        user-select: none;
        color: var(--primary-color);
        transition: all 0.2s ease;
        font-weight: 500;
        font-weight: bold; }
    .header .header__language #container1 .right {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
      pointer-events: none;
      user-select: none; }
      .header .header__language #container1 .right span {
        font-family: sans-serif;
        font-size: 12px;
        pointer-events: none;
        user-select: none;
        color: var(--primary-color);
        transition: all 0.2s ease;
        font-weight: bold; }

footer {
  background-color: #009254; }
  footer .inner {
    padding: 67px; }
  footer .contact ul {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: column; }
    footer .contact ul li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0; }
      footer .contact ul li .icon {
        margin-right: 20px; }
      footer .contact ul li .content {
        font-size: 21px;
        color: var(--color-text-white); }

.home .banner {
  height: 100%;
  background-color: #008049; }
  .home .banner .img-back {
    width: 400px;
    position: absolute;
    top: 43%;
    right: 70px; }
    .home .banner .img-back img {
      width: 100%; }
  .home .banner .bg-dif {
    background-color: var(--primary-color); }
    .home .banner .bg-dif img {
      width: 100%; }
  .home .banner .text {
    font-size: 60px;
    font-weight: 500;
    font-family: 'Segoe UI', sans-serif;
    text-transform: uppercase; }
    .home .banner .text p {
      line-height: 100px;
      margin: 0;
      color: var(--color-text-white); }

.omni-health {
  min-height: 100vh; }
  .omni-health .left .gim {
    width: 20px;
    height: 480px;
    background-color: #00A659 !important; }
  .omni-health .left .content {
    width: 80%; }
    .omni-health .left .content .start {
      font-size: 50px;
      color: var(--primary-color); }
    .omni-health .left .content .continus {
      font-size: 16px;
      line-height: 16px; }
    .omni-health .left .content .bottom {
      margin-top: 60px; }
  .omni-health .right {
    width: 60%;
    height: 100%; }
    .omni-health .right img {
      position: absolute;
      right: -100px;
      top: -356px; }

.w-40 {
  width: 40%; }

.vision {
  min-height: 100vh;
  border-top: 1px solid #009254;
  border-bottom: 1px solid #009254; }
  .vision .left {
    width: 60%;
    height: 100%; }
    .vision .left img {
      position: absolute;
      left: -100px;
      top: -356px; }
  .vision .right .gim {
    width: 20px;
    height: 200px;
    background-color: #00A659 !important; }
  .vision .right .content {
    width: 90%; }
    .vision .right .content .start {
      font-size: 50px;
      color: var(--primary-color); }
    .vision .right .content .continus {
      font-size: 16px;
      line-height: 16px; }
    .vision .right .content p {
      margin: 0; }

.omni-health {
  min-height: 100vh;
  border-bottom: 1px solid #009254; }
  .omni-health .left .gim {
    width: 20px;
    height: 380px;
    background-color: #00A659 !important; }
  .omni-health .left .content {
    width: 90%; }
    .omni-health .left .content .start {
      font-size: 50px;
      color: var(--primary-color); }
    .omni-health .left .content .continus {
      font-size: 16px;
      line-height: 16px; }
    .omni-health .left .content p {
      margin: 0; }
    .omni-health .left .content .head {
      margin-bottom: 60px; }
  .omni-health .right {
    width: 60%;
    height: 100%; }
    .omni-health .right img {
      position: absolute;
      right: -100px;
      top: -356px; }

.section {
  min-height: 100vh;
  padding: 120px 0; }
  .section .item {
    min-height: 300px;
    border-left-width: 20px !important;
    border-color: #00A659 !important;
    border: 1px;
    border: solid;
    border-radius: 0 87px 0 0;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .section .item .number {
      font-size: 219px;
      color: rgba(0, 146, 84, 0.12);
      padding: 0 30px; }
    .section .item .text {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      padding: 0 30px; }
      .section .item .text .title {
        font-size: 24px;
        font-weight: 600;
        color: #009254;
        margin-bottom: 30px; }
