extends master.pug
block content
  include ./components/About/omni-health.pug
  include ./components/About/vision.pug
  include ./components/About/mission.pug
  include ./components/About/reason.pug
  include ./layouts/footer.pug
  
