extends master.pug
block content
  include ./components/Products/banner.pug
  include ./components/Products/cloud-doctor.pug
  include ./components/Products/telehealth-platform.pug
  include ./components/Products/passport-vaccine.pug
  include ./layouts/footer.pug