footer#footer
	.container-fluid.w-80.inner
		.row 
			.col-lg-6.col-12
				.logo 
					img(src="images/logo-footer.svg", alt="")
			.col-lg-6.col-12
				.contact 
					ul 
						li
							.icon 
								img(src="images/phone.svg", alt="")
							.content 0967288920
						li
							.icon 
								img(src="images/mail.svg", alt="")
							.content marketing@consultindochina.com
						li
							.icon 
								img(src="images/placholder.svg", alt="")
							.content N03-T7, Ngoai Giao Doan, Xuan Tao, Tu Liem, Ha Noi

