.header
   .container-fluid.w-80
      .header-content.d-flex.align-items-center.justify-content-between
         .logo 
            img(src="images/logo.svg", alt="")
         .header_menu 
            ul
               li 
                  a(href="index.html")#home Home 
               li 
                  a(href="about.html")#about About us 
               li 
                  a(href="products.html")#ourproduct Our products 
               li 
                  a(href="contact.html")#contact Contacts
         .header__language
            #outerContainer
               #container.select-left
                  #item
                  .left
                     span Vi
                  .right
                     span En
         .menubar
            img(src="images/menubar.png", alt="")